.container{
    background-color:aqua;
    margin:20px;
    background-size:cover;
    height:100vh;
    text-align: center;
}
#b1{
   
    margin:10px;

}
#b2{
   
    margin:10px;

}
#b3{
    margin: 10px;

}
